.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 120px;
}

h2 {
    color: #fff;
    font-size: 28px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 28px;
    border-radius: 12px;
    background-color: #2e2d4e ;
    padding: 28px;
    max-width: 50%;
    width: 400px;
    margin-bottom: 16px;
}

input{
    color: #fff;
    background-color: #373569;
    border: 1px solid rgba(255, 255, 255, 0.075);
    padding: 14px;
    border-radius: 12px;
    align-items: center;
    max-width: 600px;
    width: 100%;
    outline: none;
}

input::placeholder{
    color: #fff;
    opacity: 60%;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cta-button {
    padding: 12px 24px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    color: #fff;
    background-color: #8583cf;
    cursor: pointer;
    max-width: 600px;
    width: 100%;
    outline: none;
}

.cta-button:hover{
    background-color: #b4b1f5;
    transform: translateY(-2px);
}

.card-user{
    display: flex;
    justify-content: space-around;
    margin: 12px;
    padding: 12px;
    border-radius: 12px;
    background-color: #2e2d4e;
    color: white;
    width: 400px;
    max-width: 50%;
    
    & p {
        color: #fff;
        font-weight: 700;

        & span {
            font-weight: normal;
        }
    }
}

.action-buttons{
    display: flex;
    justify-content: space-between;
    gap: 12px;
    width: 60px;
}

.edit-btn{
    background-color: transparent;
    border: none;
    width: 10px;
    height: 20px;
    cursor: pointer;
}

.edit-btn:hover{
    opacity: 0.7;
    transform: translateY(-2px);
}

.trash-btn{
    background-color: transparent;
    border: none;
    width: 10px;
    height: 20px;
    cursor: pointer;
}

.trash-btn:hover{
    opacity: 0.7;
    transform: translateY(-2px);
}
